.wsp-align-baseline {
    vertical-align: baseline;
}

.wsp-align-top {
    vertical-align: top; // Browser default
}

.wsp-align-middle {
    vertical-align: middle;
}

.wsp-align-bottom {
    vertical-align: bottom;
}

.wsp-align-text-bottom {
    vertical-align: text-bottom;
}

.wsp-align-text-top {
    vertical-align: text-top;
}