.wsp-bg-white {
    background-color: $white;
}

.wsp-bg-transparent {
    background-color: transparent;
}

.wsp-bg-primary {
    background-color: $primary;
}

.wsp-bg-secondary {
    background-color: $secondary;
}

.wsp-bg-success {
    background-color: $success;
}

.wsp-bg-danger {
    background-color: $danger;
}

.wsp-bg-warning {
    background-color: $warning;
}

.wsp-bg-info {
    background-color: $info;
}

.wsp-bg-dark {
    background-color: $dark;
}

.wsp-bg-light {
    background-color: $light;
}

.wsp-bg-gray {
    background-color: $gray-100;
}

.wsp-bg-dark-gray {
    background-color: $gray-700;
}