html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .wsp-container,
  .wsp-container-fluid,
  .wsp-container-sm,
  .wsp-container-md,
  .wsp-container-lg,
  .wsp-container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .wsp-container, .wsp-container-sm {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .wsp-container, .wsp-container-sm, .wsp-container-md {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .wsp-container, .wsp-container-sm, .wsp-container-md, .wsp-container-lg {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .wsp-container, .wsp-container-sm, .wsp-container-md, .wsp-container-lg, .wsp-container-xl {
      max-width: 1140px;
    }
  }
  
  .wsp-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  
  .no-gutters > .wsp-col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  
  .wsp-col-1, .wsp-col-2, .wsp-col-3, .wsp-col-4, .wsp-col-5, .wsp-col-6, .wsp-col-7, .wsp-col-8, .wsp-col-9, .wsp-col-10, .wsp-col-11, .wsp-col-12, .wsp-col,
  .wsp-col-auto, .wsp-col-sm-1, .wsp-col-sm-2, .wsp-col-sm-3, .wsp-col-sm-4, .wsp-col-sm-5, .wsp-col-sm-6, .wsp-col-sm-7, .wsp-col-sm-8, .wsp-col-sm-9, .wsp-col-sm-10, .wsp-col-sm-11, .wsp-col-sm-12, .wsp-col-sm,
  .wsp-col-sm-auto, .wsp-col-md-1, .wsp-col-md-2, .wsp-col-md-3, .wsp-col-md-4, .wsp-col-md-5, .wsp-col-md-6, .wsp-col-md-7, .wsp-col-md-8, .wsp-col-md-9, .wsp-col-md-10, .wsp-col-md-11, .wsp-col-md-12, .wsp-col-md,
  .wsp-col-md-auto, .wsp-col-lg-1, .wsp-col-lg-2, .wsp-col-lg-3, .wsp-col-lg-4, .wsp-col-lg-5, .wsp-col-lg-6, .wsp-col-lg-7, .wsp-col-lg-8, .wsp-col-lg-9, .wsp-col-lg-10, .wsp-col-lg-11, .wsp-col-lg-12, .wsp-col-lg,
  .wsp-col-lg-auto, .wsp-col-xl-1, .wsp-col-xl-2, .wsp-col-xl-3, .wsp-col-xl-4, .wsp-col-xl-5, .wsp-col-xl-6, .wsp-col-xl-7, .wsp-col-xl-8, .wsp-col-xl-9, .wsp-col-xl-10, .wsp-col-xl-11, .wsp-col-xl-12, .wsp-col-xl,
  .wsp-col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .wsp-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .wsp-row-cols-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .wsp-row-cols-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .wsp-row-cols-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .wsp-row-cols-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .wsp-row-cols-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  
  .wsp-row-cols-6 > * {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  
  .wsp-col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  
  .wsp-col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  
  .wsp-col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  
  .wsp-col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .wsp-col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .wsp-col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  
  .wsp-col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .wsp-col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .wsp-col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  
  .wsp-col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  .wsp-col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .wsp-col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;

  }
  
  .wsp-col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .wsp-order-first {
    -ms-flex-order: -1;
    order: -1;
  }
  
  .wsp-order-last {
    -ms-flex-order: 13;
    order: 13;
  }
  
  .wsp-order-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  
  .wsp-order-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  
  .wsp-order-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  
  .wsp-order-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  
  .wsp-order-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  
  .wsp-order-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  
  .wsp-order-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  
  .wsp-order-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  
  .wsp-order-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  
  .wsp-order-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  
  .wsp-order-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  
  .wsp-order-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  
  .wsp-order-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  
  .wsp-offset-1 {
    margin-left: 8.333333%;
  }
  
  .wsp-offset-2 {
    margin-left: 16.666667%;
  }
  
  .wsp-offset-3 {
    margin-left: 25%;
  }
  
  .wsp-offset-4 {
    margin-left: 33.333333%;
  }
  
  .wsp-offset-5 {
    margin-left: 41.666667%;
  }
  
  .wsp-offset-6 {
    margin-left: 50%;
  }
  
  .wsp-offset-7 {
    margin-left: 58.333333%;
  }
  
  .wsp-offset-8 {
    margin-left: 66.666667%;
  }
  
  .wsp-offset-9 {
    margin-left: 75%;
  }
  
  .wsp-offset-10 {
    margin-left: 83.333333%;
  }
  
  .wsp-offset-11 {
    margin-left: 91.666667%;
  }
  
  @media (min-width: 576px) {
    .wsp-col-sm {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .wsp-row-cols-sm-1 > * {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .wsp-row-cols-sm-2 > * {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .wsp-row-cols-sm-3 > * {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .wsp-row-cols-sm-4 > * {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .wsp-row-cols-sm-5 > * {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
    .wsp-row-cols-sm-6 > * {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .wsp-col-sm-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
    .wsp-col-sm-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .wsp-col-sm-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .wsp-col-sm-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .wsp-col-sm-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .wsp-col-sm-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .wsp-col-sm-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .wsp-col-sm-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .wsp-col-sm-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .wsp-col-sm-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .wsp-col-sm-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .wsp-col-sm-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .wsp-col-sm-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .wsp-order-sm-first {
      -ms-flex-order: -1;
      order: -1;
    }
    .wsp-order-sm-last {
      -ms-flex-order: 13;
      order: 13;
    }
    .wsp-order-sm-0 {
      -ms-flex-order: 0;
      order: 0;
    }
    .wsp-order-sm-1 {
      -ms-flex-order: 1;
      order: 1;
    }
    .wsp-order-sm-2 {
      -ms-flex-order: 2;
      order: 2;
    }
    .wsp-order-sm-3 {
      -ms-flex-order: 3;
      order: 3;
    }
    .wsp-order-sm-4 {
      -ms-flex-order: 4;
      order: 4;
    }
    .wsp-order-sm-5 {
      -ms-flex-order: 5;
      order: 5;
    }
    .wsp-order-sm-6 {
      -ms-flex-order: 6;
      order: 6;
    }
    .wsp-order-sm-7 {
      -ms-flex-order: 7;
      order: 7;
    }
    .wsp-order-sm-8 {
      -ms-flex-order: 8;
      order: 8;
    }
    .wsp-order-sm-9 {
      -ms-flex-order: 9;
      order: 9;
    }
    .wsp-order-sm-10 {
      -ms-flex-order: 10;
      order: 10;
    }
    .wsp-order-sm-11 {
      -ms-flex-order: 11;
      order: 11;
    }
    .wsp-order-sm-12 {
      -ms-flex-order: 12;
      order: 12;
    }
    .wsp-offset-sm-0 {
      margin-left: 0;
    }
    .wsp-offset-sm-1 {
      margin-left: 8.333333%;
    }
    .wsp-offset-sm-2 {
      margin-left: 16.666667%;
    }
    .wsp-offset-sm-3 {
      margin-left: 25%;
    }
    .wsp-offset-sm-4 {
      margin-left: 33.333333%;
    }
    .wsp-offset-sm-5 {
      margin-left: 41.666667%;
    }
    .wsp-offset-sm-6 {
      margin-left: 50%;
    }
    .wsp-offset-sm-7 {
      margin-left: 58.333333%;
    }
    .wsp-offset-sm-8 {
      margin-left: 66.666667%;
    }
    .wsp-offset-sm-9 {
      margin-left: 75%;
    }
    .wsp-offset-sm-10 {
      margin-left: 83.333333%;
    }
    .wsp-offset-sm-11 {
      margin-left: 91.666667%;
    }
  }
  
  @media (min-width: 768px) {
    .wsp-col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .wsp-row-cols-md-1 > * {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .wsp-row-cols-md-2 > * {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .wsp-row-cols-md-3 > * {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .wsp-row-cols-md-4 > * {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .wsp-row-cols-md-5 > * {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
    .wsp-row-cols-md-6 > * {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .wsp-col-md-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
    .wsp-col-md-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .wsp-col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .wsp-col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .wsp-col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .wsp-col-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .wsp-col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .wsp-col-md-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .wsp-col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .wsp-col-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .wsp-col-md-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .wsp-col-md-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .wsp-col-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .wsp-order-md-first {
      -ms-flex-order: -1;
      order: -1;
    }
    .wsp-order-md-last {
      -ms-flex-order: 13;
      order: 13;
    }
    .wsp-order-md-0 {
      -ms-flex-order: 0;
      order: 0;
    }
    .wsp-order-md-1 {
      -ms-flex-order: 1;
      order: 1;
    }
    .wsp-order-md-2 {
      -ms-flex-order: 2;
      order: 2;
    }
    .wsp-order-md-3 {
      -ms-flex-order: 3;
      order: 3;
    }
    .wsp-order-md-4 {
      -ms-flex-order: 4;
      order: 4;
    }
    .wsp-order-md-5 {
      -ms-flex-order: 5;
      order: 5;
    }
    .wsp-order-md-6 {
      -ms-flex-order: 6;
      order: 6;
    }
    .wsp-order-md-7 {
      -ms-flex-order: 7;
      order: 7;
    }
    .wsp-order-md-8 {
      -ms-flex-order: 8;
      order: 8;
    }
    .wsp-order-md-9 {
      -ms-flex-order: 9;
      order: 9;
    }
    .wsp-order-md-10 {
      -ms-flex-order: 10;
      order: 10;
    }
    .wsp-order-md-11 {
      -ms-flex-order: 11;
      order: 11;
    }
    .wsp-order-md-12 {
      -ms-flex-order: 12;
      order: 12;
    }
    .wsp-offset-md-0 {
      margin-left: 0;
    }
    .wsp-offset-md-1 {
      margin-left: 8.333333%;
    }
    .wsp-offset-md-2 {
      margin-left: 16.666667%;
    }
    .wsp-offset-md-3 {
      margin-left: 25%;
    }
    .wsp-offset-md-4 {
      margin-left: 33.333333%;
    }
    .wsp-offset-md-5 {
      margin-left: 41.666667%;
    }
    .wsp-offset-md-6 {
      margin-left: 50%;
    }
    .wsp-offset-md-7 {
      margin-left: 58.333333%;
    }
    .wsp-offset-md-8 {
      margin-left: 66.666667%;
    }
    .wsp-offset-md-9 {
      margin-left: 75%;
    }
    .wsp-offset-md-10 {
      margin-left: 83.333333%;
    }
    .wsp-offset-md-11 {
      margin-left: 91.666667%;
    }
  }
  
  @media (min-width: 992px) {
    .wsp-col-lg {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .wsp-row-cols-lg-1 > * {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .wsp-row-cols-lg-2 > * {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .wsp-row-cols-lg-3 > * {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .wsp-row-cols-lg-4 > * {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .wsp-row-cols-lg-5 > * {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
    .wsp-row-cols-lg-6 > * {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .wsp-col-lg-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
    .wsp-col-lg-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .wsp-col-lg-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .wsp-col-lg-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .wsp-col-lg-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .wsp-col-lg-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .wsp-col-lg-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .wsp-col-lg-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .wsp-col-lg-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .wsp-col-lg-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .wsp-col-lg-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .wsp-col-lg-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .wsp-col-lg-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .wsp-order-lg-first {
      -ms-flex-order: -1;
      order: -1;
    }
    .wsp-order-lg-last {
      -ms-flex-order: 13;
      order: 13;
    }
    .wsp-order-lg-0 {
      -ms-flex-order: 0;
      order: 0;
    }
    .wsp-order-lg-1 {
      -ms-flex-order: 1;
      order: 1;
    }
    .wsp-order-lg-2 {
      -ms-flex-order: 2;
      order: 2;
    }
    .wsp-order-lg-3 {
      -ms-flex-order: 3;
      order: 3;
    }
    .wsp-order-lg-4 {
      -ms-flex-order: 4;
      order: 4;
    }
    .wsp-order-lg-5 {
      -ms-flex-order: 5;
      order: 5;
    }
    .wsp-order-lg-6 {
      -ms-flex-order: 6;
      order: 6;
    }
    .wsp-order-lg-7 {
      -ms-flex-order: 7;
      order: 7;
    }
    .wsp-order-lg-8 {
      -ms-flex-order: 8;
      order: 8;
    }
    .wsp-order-lg-9 {
      -ms-flex-order: 9;
      order: 9;
    }
    .wsp-order-lg-10 {
      -ms-flex-order: 10;
      order: 10;
    }
    .wsp-order-lg-11 {
      -ms-flex-order: 11;
      order: 11;
    }
    .wsp-order-lg-12 {
      -ms-flex-order: 12;
      order: 12;
    }
    .wsp-offset-lg-0 {
      margin-left: 0;
    }
    .wsp-offset-lg-1 {
      margin-left: 8.333333%;
    }
    .wsp-offset-lg-2 {
      margin-left: 16.666667%;
    }
    .wsp-offset-lg-3 {
      margin-left: 25%;
    }
    .wsp-offset-lg-4 {
      margin-left: 33.333333%;
    }
    .wsp-offset-lg-5 {
      margin-left: 41.666667%;
    }
    .wsp-offset-lg-6 {
      margin-left: 50%;
    }
    .wsp-offset-lg-7 {
      margin-left: 58.333333%;
    }
    .wsp-offset-lg-8 {
      margin-left: 66.666667%;
    }
    .wsp-offset-lg-9 {
      margin-left: 75%;
    }
    .wsp-offset-lg-10 {
      margin-left: 83.333333%;
    }
    .wsp-offset-lg-11 {
      margin-left: 91.666667%;
    }
  }
  
  @media (min-width: 1200px) {
    .wsp-col-xl {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .wsp-row-cols-xl-1 > * {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .wsp-row-cols-xl-2 > * {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .wsp-row-cols-xl-3 > * {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .wsp-row-cols-xl-4 > * {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .wsp-row-cols-xl-5 > * {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
    .wsp-row-cols-xl-6 > * {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .wsp-col-xl-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
    .wsp-col-xl-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .wsp-col-xl-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .wsp-col-xl-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .wsp-col-xl-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .wsp-col-xl-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .wsp-col-xl-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .wsp-col-xl-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .wsp-col-xl-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .wsp-col-xl-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .wsp-col-xl-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .wsp-col-xl-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .wsp-col-xl-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .wsp-order-xl-first {
      -ms-flex-order: -1;
      order: -1;
    }
    .wsp-order-xl-last {
      -ms-flex-order: 13;
      order: 13;
    }
    .wsp-order-xl-0 {
      -ms-flex-order: 0;
      order: 0;
    }
    .wsp-order-xl-1 {
      -ms-flex-order: 1;
      order: 1;
    }
    .wsp-order-xl-2 {
      -ms-flex-order: 2;
      order: 2;
    }
    .wsp-order-xl-3 {
      -ms-flex-order: 3;
      order: 3;
    }
    .wsp-order-xl-4 {
      -ms-flex-order: 4;
      order: 4;
    }
    .wsp-order-xl-5 {
      -ms-flex-order: 5;
      order: 5;
    }
    .wsp-order-xl-6 {
      -ms-flex-order: 6;
      order: 6;
    }
    .wsp-order-xl-7 {
      -ms-flex-order: 7;
      order: 7;
    }
    .wsp-order-xl-8 {
      -ms-flex-order: 8;
      order: 8;
    }
    .wsp-order-xl-9 {
      -ms-flex-order: 9;
      order: 9;
    }
    .wsp-order-xl-10 {
      -ms-flex-order: 10;
      order: 10;
    }
    .wsp-order-xl-11 {
      -ms-flex-order: 11;
      order: 11;
    }
    .wsp-order-xl-12 {
      -ms-flex-order: 12;
      order: 12;
    }
    .wsp-offset-xl-0 {
      margin-left: 0;
    }
    .wsp-offset-xl-1 {
      margin-left: 8.333333%;
    }
    .wsp-offset-xl-2 {
      margin-left: 16.666667%;
    }
    .wsp-offset-xl-3 {
      margin-left: 25%;
    }
    .wsp-offset-xl-4 {
      margin-left: 33.333333%;
    }
    .wsp-offset-xl-5 {
      margin-left: 41.666667%;
    }
    .wsp-offset-xl-6 {
      margin-left: 50%;
    }
    .wsp-offset-xl-7 {
      margin-left: 58.333333%;
    }
    .wsp-offset-xl-8 {
      margin-left: 66.666667%;
    }
    .wsp-offset-xl-9 {
      margin-left: 75%;
    }
    .wsp-offset-xl-10 {
      margin-left: 83.333333%;
    }
    .wsp-offset-xl-11 {
      margin-left: 91.666667%;
    }
  }