.wsp-avatar {
  font-size: 1rem;
  display: inline-flex;
  width: 48px;
  height: 48px;
  color: #fff;
  border-radius: 0.375rem;
  background-color: #adb5bd;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  vertical-align: middle;
  position: relative;
  margin: 0.375em;
  img {
    width: 100%;
    border-radius: 0.375rem;
  }
  & > .wsp-icon {
    font-size: 1.5em;
  }
  & + .wsp-avatar-content {
    display: inline-block;
    margin-left: 0.75rem;
  }
  .wsp-badge-dot {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
    &.bottom {
      top: inherit;
      bottom: 0;
    }
  }
  &.rounded-circle {
    img {
      border-radius: 50% !important;
    }
    .wsp-badge-dot {
      top: 0.35em;
      right: 0.35em;
      &.bottom {
        top: inherit;
        bottom: -0.15em;
      }
    }
  }
}
.wsp-avatar-xl {
  width: 96px;
  height: 96px;
  & > .wsp-icon {
    font-size: 3.5em;
  }
}
.wsp-avatar-lg {
  font-size: 0.875rem;
  width: 58px;
  height: 58px;
  & > .wsp-icon {
    font-size: 2.5em;
  }
}
.wsp-avatar-sm {
  font-size: 0.875rem;
  width: 32px;
  height: 32px;
  & > .wsp-icon {
    font-size: 1.25em;
  }
}
.wsp-avatar-xs {
  font-size: 0.75rem;
  width: 24px;
  height: 24px;
  & > .wsp-icon {
    font-size: 1em;
  }
}
.wsp-avatar-group {
  .wsp-avatar {
    position: relative;
    z-index: 2;
    border: 2px solid #fff;
    &:hover {
      z-index: 3;
    }
  }
  .wsp-avatar + .wsp-avatar {
    margin-left: -1rem;
  }
}
.rounded-circle {
  border-radius: 50% !important;
}
