.wsp-badge {
  display: inline-block;
  margin-right: 0.5rem;
  text-align: center;
  vertical-align: middle;
  padding: 0.25rem 0.75rem;
  font-size: 13px;
  border-radius: 1rem;
  border: 1px solid transparent;

  &:last-child {
    margin-right: 0;
  }

  &.badge-primary {
    color: $white;
    background-color: $primary;
    border-color: $primary;
  }

  &.badge-inactive {
    color: $dark;
    background-color: $gray-light;
    border-color: $gray-light;
  }

  &.badge-success {
    color: $white;
    background-color: $success;
    border-color: $success;
  }

  &.badge-light-success {
    color: $success;
    background-color: $success-light;
    border-color: $success-light;
  }

  &.badge-danger {
    color: $white;
    background-color: $danger;
    border-color: $danger;
  }

  &.badge-light-danger {
    color: $danger;
    background-color: $danger-light;
    border-color: $danger-light;
  }

  &.badge-warning {
    color: $white;
    background-color: $warning;
    border-color: $warning;
  }

  &.badge-light-warning {
    color: $warning;
    background-color: $warning-light;
    border-color: $warning-light;
  }

  &.badge-info {
    color: $white;
    background-color: $info;
    border-color: $info;
  }

  &.badge-light-info {
    color: $info;
    background-color: $info-light;
    border-color: $info-light;
  }
}

.wsp-badge-dot {
  z-index: auto;
  width: 0.75em;
  min-width: 0.75em;
  height: 0.75em;
  background: $danger;
  border-radius: 100%;
  box-shadow: 0 0 0 1px #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  &.badge-warning {
    color: $white;
    background-color: $warning;
  }
  &.badge-disable {
    color: $text-body;
    background-color: $gray-light;
  }
  &.badge-success {
    color: $white;
    background-color: $success;
  }
  .wsp-icon{
    font-size: 0.35em;
    font-weight: bolder;
  }
}
