.wsp-drawer {
    .wsp-drawer-content {
        position: fixed;
        top: 0;
        background: $white;
        width: 20rem;
        height: 100%;
        z-index: 1050;
        display: none;
        &.wsp-drawer-left {
            left: 0;
            box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.05);
        }
        &.wsp-drawer-right {
            right: 0;
            box-shadow: -4px 0px 15px rgba(0, 0, 0, 0.05);
        }
        .wsp-drawer-header{
            display: flex;
            padding: 1rem 0.875rem;
            justify-content: space-between;
            align-items: center;
            h5{
                margin-bottom: 0;
                color: $dark;
            }
            .wsp-close-btn{
                text-decoration: none;
                font-size: 1.75rem;
                color: $dark;
            }
        }
    }
}