.wsp-label {
  display: inline-block;
  margin-right: 0.5rem;
  text-align: center;
  vertical-align: middle;
  padding: 0.25rem 0.75rem;
  font-size: 13px;
  border-radius: 2px;
  border: 1px solid transparent;
  position: relative;
  .wsp-close{
    font-size: 1.25rem;
    font-weight: normal;
    margin-right: -0.675rem;
    margin-left: 0.25rem;
    line-height: 0.675rem;
    color: inherit;
  }
  &:last-child {
    margin-right: 0;
  }

  &.label-primary {
    color: $white;
    background-color: $primary;
    border-color: $primary;
  }

  &.label-inactive {
    color: $dark;
    background-color: $gray-light;
    border-color: $gray-light;
  }

  &.label-success {
    color: $white;
    background-color: $success;
    border-color: $success;
  }

  &.label-light-success {
    color: $success;
    background-color: $success-light;
    border-color: $success-light;
  }

  &.label-danger {
    color: $white;
    background-color: $danger;
    border-color: $danger;
  }

  &.label-light-danger {
    color: $danger;
    background-color: $danger-light;
    border-color: $danger-light;
  }

  &.label-warning {
    color: $white;
    background-color: $warning;
    border-color: $warning;
  }

  &.label-light-warning {
    color: $warning;
    background-color: $warning-light;
    border-color: $warning-light;
  }

  &.label-info {
    color: $white;
    background-color: $info;
    border-color: $info;
  }

  &.label-light-info {
    color: $info;
    background-color: $info-light;
    border-color: $info-light;
  }
}


.label-outline-primary {
  color: $primary;
  background-color: $white;
  border-color: $primary;
}

.label-outline-inactive {
  color: $dark;
  background-color: $white;
  border-color: $dark;
}

.label-outline-success {
  color: $success;
  background-color: $white;
  border-color: $success;
}

.label-outline-danger {
  color: $danger;
  background-color: $white;
  border-color: $danger;
}

.label-outline-warning {
  color: $warning;
  background-color: $white;
  border-color: $warning;
}

.label-outline-info {
  color: $info;
  background-color: $white;
  border-color: $info;
}