.wsp-navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-between;
  padding: $navbar-padding-y $navbar-padding-x;

  %container-flex-properties {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .container,
  .container-fluid {
    @extend %container-flex-properties;
  }
}

.wsp-navbar-brand {
  display: inline-block;
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  margin-right: $navbar-padding-x;
  font-size:$navbar-brand-font-size;
  line-height: inherit;
  white-space: nowrap;

  @include hover-focus() {
    text-decoration: none;
  }
}


.wsp-navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .wsp-nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .wsp-dropdown-menu {
    position: static;
    float: none;
  }
}

.wsp-navbar-text {
  display: inline-block;
  padding-top: $nav-link-padding-y;
  padding-bottom: $nav-link-padding-y;
}

.wsp-navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.wsp-navbar-toggler {
  padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
  font-size:$navbar-toggler-font-size;
  line-height: 1;
  background-color: transparent; 
  border: $border-width solid transparent; 
  border-radius: $navbar-toggler-border-radius;

  @include hover-focus() {
    text-decoration: none;
  }
}

.wsp-navbar-toggler-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.wsp-navbar-light {
  .wsp-navbar-brand {
    color: $navbar-light-brand-color;

    @include hover-focus() {
      color: $navbar-light-brand-hover-color;
    }
  }

  .wsp-navbar-nav {
    .wsp-nav-link {
      color: $navbar-light-color;

      @include hover-focus() {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .wsp-nav-link,
    .active > .wsp-nav-link,
    .wsp-nav-link.show,
    .wsp-nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .wsp-navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .wsp-navbar-text {
    color: $navbar-light-color;
    a {
      color: $navbar-light-active-color;

      @include hover-focus() {
        color: $navbar-light-active-color;
      }
    }
  }
}


.wsp-navbar-dark {
  .wsp-navbar-brand {
    color: $navbar-dark-brand-color;

    @include hover-focus() {
      color: $navbar-dark-brand-hover-color;
    }
  }

  .wsp-navbar-nav {
    .wsp-nav-link {
      color: $navbar-dark-color;

      @include hover-focus() {
        color: $navbar-dark-hover-color;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .show > .wsp-nav-link,
    .active > .wsp-nav-link,
    .wsp-nav-link.show,
    .wsp-nav-link.active {
      color: $navbar-dark-active-color;
    }
  }

  .wsp-navbar-toggler {
    color: $navbar-dark-color;
    border-color: $navbar-dark-toggler-border-color;
  }

  .wsp-navbar-text {
    color: $navbar-dark-color;
    a {
      color: $navbar-dark-active-color;

      @include hover-focus() {
        color: $navbar-dark-active-color;
      }
    }
  }
}
.wsp-bg-gray {
  .wsp-navbar-nav {
    .wsp-nav-item {
      margin-right: 4rem - 0.25rem;
      &:last-child {
        margin-right: 0px;
      }
      .wsp-nav-link {
        line-height: 1.70rem;
        color: $black;
        
      }
    }
  }
}
.wsp-bg-dark-gray,.wsp-bg-primary {
  .wsp-navbar-nav {
    .wsp-nav-item {
      margin-right: 4rem - 0.25rem;
      &:last-child {
        margin-right: 0px;
      }
      .wsp-nav-link {
        line-height: 1.70rem;
        color: $white;
        
      }
    }
  }
}
.ml-4 {
  margin-left:3rem - 0.25rem;
}
.wsp-logo {
  font-size: 1.75rem;
    line-height: 3rem - 0.25rem;
    font-weight: 700;
    text-decoration: none;
    margin-right: 3rem + 0.5rem;
}
.wsp-black-logo {
  color: $dark;
}
.wsp-white-logo {
  color: $white !important;
}
.wsp-search {
  color: #ccc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  position:relative;
  background:$white;
  margin-right:1rem;

  input {
    border:none;
    background: transparent;
    outline: none;
  }

  .wsp-search-icon {
    position:absolute;
    right:0.5rem;
    top: 0.438rem;
    color:$black;
  }
}
.wsp-nav-profile {
  margin: $margin-avtar !important;
}
.wsp-flex {
  display: flex;
}
.wsp-navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start;

    .wsp-navbar-nav {
        flex-direction: row;

        .wsp-dropdown-menu {
          position: absolute;
        }

        .wsp-nav-link {
          padding-right: $navbar-nav-link-padding-x;
          padding-left: $navbar-nav-link-padding-x;
        }
      }
      .wsp-navbar-collapse {
        display: flex !important;
        flex-basis: auto;
      }
}
