.wsp-progress {
    background: $light;
    justify-content: flex-start;
    border-radius: 0.625rem;
    align-items: center;
    position: relative;
    display: flex;
    height: 0.75rem;
    width: 20rem;

    &.wsp-progress-large {
        height: 1.125rem;

        .wsp-progress-bar {
            height: 1.125rem;
        }
    }
    &.wsp-progress-mini {
        height: 0.375rem;

        .wsp-progress-bar {
            height: 0.375rem;
        }
    }
}

.wsp-progress-bar {
    /* You can modify the total time used for the animation here */
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 0.625rem;
    background: $primary;
    height: 0.75rem;
    width: 0;

    &.wsp-progress-bar-success {
        background: $success;
    }

    &.wsp-progress-bar-error {
        background: $danger;
    }
}

@keyframes load {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}