.wsp-switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;

    input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #8588d1;
        transition: .4s;
        border-radius: 1rem;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 1.2rem;
        width: 1.2rem;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        background-color:$white;
        transition: 0.4s;
        border-radius: 100%;
    }

    input:checked+.slider {
        background-color: $primary;
    }


    input:checked+.slider:before {
        transform: translateX(1.5rem);
    }

    .slider:after {
        content: 'OFF';
        color: $white;
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 70%;
        font-size: 0.625rem;
    }

    input:checked+.slider:after {
        content: 'ON';
        transform: translate(-50%, -50%);
        top: 50%;
        left: 30%;
    }
    input:disabled+.slider{
        opacity: 0.65;
        cursor: not-allowed;
    }
}